<div class="container-fluid text-center mt-3">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card" style="border: none;">
                <div class="card-body"></div>
                <div class="row">
                    <div class="col">
                        <h2>Save a Book</h2>
                        <h5>
                            Complete the above information to create a new Book
                        </h5>
                        <form class="mt-4" [formGroup]="this.bookForm">
                            <div class="row justify-content-center">
                                <div class="col-4 mb-3">
                                    <div class="input-group">
                                        <input type="file" class="form-control" (change)="captureFile($event)"
                                            id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                                            aria-label="Upload" formControlName="image">
                                    </div>

                                    <div *ngIf="previsualitation" class="mt-3">
                                        <img [src]="previsualitation" alt="">
                                    </div>
                                </div>
                                <div class="col-6 align-content-center">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="text" class="form-control mt-3" placeholder="Title"
                                                formControlName="title">
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="form-control mt-2" placeholder="Author"
                                                formControlName="author">
                                        </div>
                                        <div class="col-5">
                                            <input type="number" class="form-control mt-2" placeholder="Amount"
                                                formControlName="amount">
                                        </div>
                                        <div class="col-7">
                                            <select class="form-select mt-2" aria-label="Default select example"
                                                placeholder="Select" formControlName="state">
                                                <option value="1">New</option>
                                                <option value="2">Used</option>
                                            </select>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" class="form-control mt-2" placeholder="Price"
                                                formControlName="price">
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control mt-3" placeholder="Synopsis"
                                                formControlName="synopsis">
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-success mt-3 VA" type="submit" style="width: 20rem;"
                                                [disabled]="bookForm.invalid" (click)="saveBook()">
                                                Publish</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {{ bookForm.value | json }}
                        <div class="form">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <!--Inicia Componente Table-->
            <table class="table table-border table-bordered table-hover">
                <thead>
                    <tr class="table-danger">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>&#64;mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>&#64;fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>&#64;twitter</td>
                    </tr>
                </tbody>
            </table>
            <!--Finaliza componente Table-->
        </div>
    </div>
</div>