<app-nav-bar></app-nav-bar>
<div class="container-fluid text-center"style="min-height: 90vh; display: flex; flex-direction: column;">
    <!-- Modificación aquí -->
    <div class="row" style="height: calc(100vh - 56px);"> <!-- Ajuste de altura basado en vh -->
        <div class="col-2 d-flex align-items-center justify-content-center" style="background:  rgb(181, 181, 182);"> <!-- Añadido d-flex y ajustes para centrado -->
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
