<div class="container-fluid text-center" style="margin-top: 5rem;">
    <div class="row justify-content-center align-items-center">
        <div class="col col-md-5">
            <div class="card">
                <div class="card-body overflow-hidden" style="border-style: none;">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">Login</h4>
                            <form class="form-control" [formGroup]="loginForm" (ngSubmit)="validateUser()">
                                <div class="row g-3 justify-content-center align-items-center mt-2">
                                    <div class="col-auto">
                                        <label for="inputUsername" class="col-form-label">Username</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" id="inputUsername" class="form-control"
                                            aria-describedby="usernameHelpInline" formControlName="username">
                                    </div>
                                    <div class="col-6">
                                        <div class="alert alert-danger mt-1" [hidden]="user.valid || user.pristine"
                                            style="font-size: 14px;">
                                            <span>
                                                El usuario es obligatorio
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <label for="inputPassword" class="col-form-label">Password</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="password" id="inputPassword" class="form-control"
                                            aria-describedby="passwordHelpInline" formControlName="password">
                                    </div>
                                    <div class="col-6">
                                        <div class="alert alert-danger" [hidden]="pass.valid || pass.pristine"
                                            style="font-size: 14px;">
                                            <span *ngIf="pass.errors?.['required']">
                                                The password is required
                                            </span>
                                            <span *ngIf="pass.errors?.['minlength']">
                                                The password have to be more than 6 characters
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-success" type="submit" [disabled]="loginForm.invalid">Login</button>
                            </form>
                            {{ this.loginForm.value|json }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>