<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="min-height: 90vh ; display: flex; flex-direction: column; background: linear-gradient(90deg, rgba(213,210,255,1) 0%, rgba(158,180,207,1) 44%, rgba(37,78,87,1) 94%);">
    <!-- Modificación aquí -->
    <div class="row" style="height: calc(100vh - 56px);"> <!-- Ajuste de altura basado en vh -->
        <div class="col-2">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
