<div class="container-fluid">
    <div class="row mt-3 mb-3 justify-content-center">
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 justify-self-center" >
                            <img src="./../../assets/img/descarga.jpeg" alt="">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    

                                        <h1>Title</h1>
                                        <p>Author: </p>
                                        <p>Amount: </p>
                                        <p>Price: </p>
                                        <p>State: </p>
                                        <p>Sinopsis: </p>
                                    
                                    <button class="btn btn-danger">I Want It!!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>