<nav class="container-fluid navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
      Libreria
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div style="margin-right: 1rem;">
      <a (click)="onSubmit()">        
          <i class="bi bi-person"></i>  
      </a>
    </div>
  </div>
</nav>